<html>
  <head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Book record application</title>
    {% endif %}
    <style>
      ul#menu li {
          display:inline;
      }
    </style>
  </head>


<div>
  {% block content %}{% endblock %} <!--contents that are different -->
</div>

</body>
</html>
