{% extends "base.html" %}
{% block content %}


<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/repo">Repo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/library">Library</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Log off</a>
    </li>
  </ul>
</nav>

<br><h2>Logged in as: {{session['active_user']}}</h2><br>
{% for book in books %}
<div class="container">

  <div class="card">
    <div class="card-header">{{book.title}}</div>
    <div class="card-body">{{book.description}}</div>
    <div class="card-footer">
      <a href="/unfinish/{{book.id}}" class="btn btn-outline-dark" role="button">Oops, I haven't finished yet.</a>
    </div>
  </div><br>
</div>
{% endfor %}
<div class="container">
<br><h2>Change your personal PIN</h2><br>
<form action="" method="post" name="create">
  {{ form.hidden_tag() }} <!--Preventing CSRF -->
  <div class="form-group">
    <label for="pwd">Your new PIN:</label><br>
    {{ form.password(class="form-control")}}
  </div>
  <p><input type="submit" class="btn btn-dark" value="Submit"></p>
</form>
</div>
{% endblock %}
